@font-face
    font-family: 'Cuprum'
    src: url('../font/Cuprum/Cuprum-Regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

#my-App
    font-family: 'Cuprum', sans-serif
    background-color: #282c34
    .App-header
        .jumbotron
            background-color: #282c34
            span.labkom
                color: #61dafb
    .App-footer
        min-height: 56px

@media (min-width: 992px) and (max-width: 1200px)
    .App-header
        .jumbotron
            h1.display-3
                font-size: 50px
                margin: 50px 0 0 0!important
            h1.display-4
                font-size: 35px

@media (min-width: 768px) and (max-width: 992px)
    .App-header
        .jumbotron
            h1.display-3
                font-size: 50px
                margin: 50px 0 0 0!important
            h1.display-4
                font-size: 35px

    .App-main
        section#SOP
            .media.rounded
                padding: 25px

@media (min-width: 576px) and (max-width: 768px)
    .App-header
        .jumbotron
            h1.display-3
                font-size: 40px
                margin: 50px 0 0 0!important
            h1.display-4
                font-size: 35px

    .App-main
        section#SOP
            .media.rounded
                padding: 25px

@media (min-width: 425px) and (max-width: 576px)
    .App-header
        .jumbotron
            h1.display-3
                font-size: 30px
                margin: 60px 0 0 0!important
            h1.display-4
                font-size: 25px

    .App-main
        section#Berita
            h1, h2
                font-size: 30px
            p
                font-size: 15px
        section#SOP
            h1, h4
                font-size: 30px
            p
                font-size: 15px
            button
                font-size: 15px
            img
                margin: 5px!important
                width: 150px
            .media.rounded
                padding: 15px
        section#Asisten
            h1
                font-size: 30px

    .App-footer
        p
            font-size: 12px

@media (min-width: 320px) and (max-width: 425px)
    .App-header
        .jumbotron
            h1.display-3
                font-size: 20px
                margin: 60px 0 0 0!important
            h1.display-4
                font-size: 15px

    .App-main
        section#Berita
            h1, h2
                font-size: 30px
            p
                font-size: 15px
        section#SOP
            h1
                font-size: 30px
            h4
                font-size: 20px
            p
                font-size: 12px
            button
                font-size: 10px
            img
                margin: 5px!important
                width: 150px
            .media.rounded
                padding: 15px
        section#Asisten
            h1
                font-size: 30px

    .App-footer
        p
            font-size: 9px

@media (max-width: 320px)
    .App-header
        .jumbotron
            h1.display-3
                font-size: 20px
                margin: 60px 0 0 0!important
            h1.display-4
                font-size: 15px

    .App-main
        section#Berita
            h1, h2
                font-size: 30px
            p
                font-size: 15px
        section#SOP
            h1
                font-size: 30px
            h4
                font-size: 20px
            p
                font-size: 12px
            button
                font-size: 10px
            img
                margin: 5px!important
                width: 150px
            .media.rounded
                padding: 15px
        section#Asisten
            h1
                font-size: 30px

    .App-footer
        p
            font-size: 9px
